.taskCompleted {
    border: 1px solid black;
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    background: rgb(88, 96, 88);
    padding: 3%;
}

.task {
    border: 1px solid black;
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    background: #fff;
    padding: 3%;
}

.taskNameCompleted {
    text-decoration: line-through;
    font-size: 20px;
}

.taskName {
    text-decoration: none;
    font-size: 20px;
}

.priority {

}

.btn {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.delete {
    background-color: firebrick;
}

.delete:hover {
    background-color: tomato;
}

.completed{
    background-color: orange;
}

.completed:hover {
    background-color: rgb(163, 143, 42);
}

.text {
    width: 80%;
}

.nameAndPriority {
    display: flex;
    justify-content: space-around;
    text-align: start;
}