.taskCompleted {
    width: 80%;
    border: 1px solid black;
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    background: green;
}

.task {
    width: 80%;
    border: 1px solid black;
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    background: gray;
}

.taskNameCompleted {
    text-decoration: line-through;
}

.taskName {
    text-decoration: none;
}


.btn {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.delete {
    background-color: firebrick;
}

.delete:hover {
    background-color: tomato;
}

.completed{
    background-color: orange;
}

.completed:hover {
    background-color: rgb(163, 143, 42);
}